{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <h2>My Portfolio</h2>
        </div>
        <div class="col-4"></div>
    </div>
    <div class="row portfolio-displays">
        {% for p in portfolio %}
        <div class="col-6">
            <h6>{{ p.name }}</h6>
            <a href="">
                <img class="porfolio-image" src="{{ p.image.url }}" alt="image">
            </a>
            <p>{{ p.description }}</p>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}