{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <h2>My Portfolio</h2>
        </div>
        <div class="col-4"></div>
    </div>
    <div class="row">
        {% for p in portfolio %}
        <div class="col-6">
            <h6>{{ p.name }}</h6>
            <img src="{{ p.image.url }}" alt="image">
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}