{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <h2 class="header">My Portfolio</h2>
        </div>
        <div class="col-4"></div>
    </div>
    <div class="row portfolio-displays">
        {% for p in portfolio %}
        <div class="col-md-6">
            <h6 class="portfolio-header">{{ p.name }}</h6>
            <a class="image-position" href="{{ p.website_url }}" target="_blank">
                <img class="porfolio-image" src="{{ p.image.url }}" alt="image">
            </a>
            <p class="mini-description">{{ p.mini_description }}</p>
            <a href="#read-btn{{ p.id }}" class="read-more-button">Read more</a>
            {% include 'includes/info.html' %}
            <p class="read-less-button">Read less</p>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <!-- <script>

        function createNum(x){
            for (let i = 0; i < 1000; i++) {
            x[i];
            }
        }

        $('#floral-design').click( function(){
            $('.description-p').css("display", "block");
            $('.mini-description').css("display", "none");
            $('#floral-design').css("display", "none");
            $('.read-less-button').css("display", "block");
        })

        $('.read-less-button').click( function(){
            $('.description-p').css("display", "none");
            $('.mini-description').css("display", "block");
            $('#remove-button').css("display", "block");
            $('.read-less-button').css("display", "none");
        })
    </script> -->
{% endblock %}