{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            <div class="small-box"></div>
            <div class="info-box shadow">
                <h3>Welcome</h3>
                <h4 class="sub-header">My name is Eli Hammond</h4>
                <p>I'm a Fullstack software developer, I specialise in building custom websites.</p>
                <p>I work from the design stage, all the way to the backend, building websites fit for all purposes. My skills include, creating custom frontend designs and buiding complex database structures. Using the latest technology, I can build websites suitable for the modern competitve buisness market.</p>
            </div>
        </div>
        <div class="col-md-2">
            <div class="btn porfolio-btn shadow"><a href="">Check out my Portfilio</a></div>
        </div>
    </div>
</div>

{% endblock %}