{% extends "base.html" %}
{% load static %}
{% block extra_title %}- Home{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            <div class="small-box"></div>
            <div class="info-box shadow">
                <h3>Welcome!</h3>
                <h4 class="sub-header">My name is Eli Hammond</h4>
                <p>I'm a Fullstack software developer, trained by
                    <span class="ci-link"><a href="https://codeinstitute.net/" target="_blank"> code institute,</a></span> I specialise in building custom websites.</p>
                <p>I work from the design stage, all the way to the backend, building websites fit for all purposes. My skills include, creating custom frontend designs and buiding complex database structures. Using the latest technology, I can build websites suitable for the modern competitve buisness market.</p>
            </div>
        </div>
        <div class="col-md-2">
            <div class="btn porfolio-btn shadow"><a href="{% url 'portfolio' %}">Check out my Portfilio</a></div>
        </div>
    </div>
    <div class="row">
        <div class="col-4 review-section">
            <h3>Reviews ({{ reviews.count }})</h3>
            {% for review in reviews %}
            <div class="user-review shadow">
                <div>
                    Review by: {{ review.name }}
                </div>
                <div class="review-stars">
                    Product rating:
                    {% if review.rating == 1 %}
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                {% elif review.rating == 2 %}
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                {% elif review.rating == 3 %}
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                {% elif review.rating == 4 %}
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                {% else %}
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                {% endif %}
                </div>
                    <div class="review">{{ review.review }}</div>
                    <div class="time-date">
                        Reviewed {{ review.date }} @ {{ review.time }}
                    </div>
                    <hr>
            </div>
            {% endfor %}
        </div>
        <div class="col-8"></div>
    </div>
</div>

{% endblock %}