{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4">
            <div class="pic"></div>
            <div class="pic-text-box shadow">
                <h2>Eli Hammond</h2>
                <h3>Fullstack Web Developer</h3>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="small-box"></div>
            <div class="info-box">
                <h3>info</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum dicta quibusdam in iusto quam placeat omnis optio beatae ab distinctio labore praesentium, laboriosam molestias aut ad odio quisquam ipsum blanditiis?</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus aliquam nobis asperiores quas? Aliquid neque voluptatibus iure, sequi, earum eos cupiditate eligendi facilis voluptates iusto, incidunt labore porro velit. Corrupti?</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit nihil placeat tempore quod, non fugiat ullam, dolore, maiores amet dignissimos rem! Ipsam repellendus a, at illo qui nemo vel perferendis.</p>
            </div>
            <button>Check out my Portfilio</button>
        </div>
    </div>
</div>

{% endblock %}