{% extends "base.html" %}
{% load static %}

{% block extra_title %} - Create Review{% endblock %}


{% block content %}
    <div class="container review-form">
        <div class="row">
            <div class="col-12 col-md-6">
                <h2 class="mb-4">Send a message</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6">
                <!-- form to send a message -->
                <form action="{% url 'compose_message' %}" method="POST" class="contact-form shadow mb-2" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="main-compose-message-section">
                        <input type="text" id="id_name" name="name" value="{{ user.username }}" class="user-input-remove">
                    
                        <input type="email" id="id_email" class="input" name="email" placeholder="email">
                    
                        <input type="text" id="id_phone" name="phone" class="input" placeholder="Phone number">
                    
                        <input type="text" id="id_subject" name="subject" class="input" placeholder="Subject">
                    
                        <textarea name="message" id="id_message" class="textarea" placeholder="Your message"></textarea>
                    </div>
                    <!-- <div>
                        <input type="checkbox" id="id_new_message" name="new_mesage" value="True">
                    </div> -->
                    
                    <div class="text-right">
                        <a href="{% url 'home' %}" class="shadow button cancel-btn">Cancel</a>
                        <button class="shadow button add-edit-btn" type="submit">Send message</button>
                    </div>
                </form>
                
            </div>
        </div>
    </div>
{% endblock %}
