{% extends "base.html" %}
{% load static %}

{% block extra_title %} - Create Review{% endblock %}


{% block content %}
    <div class="container review-form">
        <div class="row">
            <div class="col-12 col-md-6">
                <h2 class="main-print mb-4">Send a message</h2>
                <h5 class="side-print">Compose</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6">
                <!-- form to send a message -->
                
            </div>
        </div>
    </div>
{% endblock %}
