{% extends "base.html" %}
{% load static %}
{% block extra_title %}- Inbox - {{ inbox.subject }}{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <h2 class="header">Inbox</h2>
        </div>
        <div class="col-4"></div>
    </div>
    <div class="row">
        <div class="col-1">
            
        </div>
        <div class="col-10">
            
            <div class="read-message">
                <div class="row">
                    <div class="col-3">
                        <h4 class="inbox-name">{{ inbox.name }}</h4>
                    </div>
                    <div class="col-6">
                        {% if inbox.subject %}
                        <h5 class="inbox-subject">{{ inbox.subject }}</h5>
                        {% else %}
                        <h5 class="inbox-subject">no subject</h5>
                        {% endif %}
                    </div>
                    <div class="col-3">
                        
                    </div>
                    
                </div>
                <div class="row">
                    <div class="col-6">email: {{ inbox.email }}</div>
                    <div class="col-6">Phone: 0{{ inbox.phone }}</div>
                </div>
                <div class="row message-row">
                    <div class="col-8 message-display">
                        <div class="top-message">
                            <p>
                                {{ inbox.message }}
                            </p>
                            <p class="inbox-date-time main-message-date-time">
                                Recieved:
                                {{ inbox.date }} {{ inbox.time }}
                            </p>
                        </div>
                    </div>
                    <div class="col-4">
                    </div>
                    {% if replied %}
                    
                        {% for r in replied %}
                        <div class="{% if r.name == user.username %} thread-load {% else %} thread-load2 {% endif %}">
                        {% if r.name == user.username%}
                        <p>Reply from <strong>me</strong></p>
                        {% else %}
                        <p>Reply from <strong>{{ r.name }}</strong></p>
                        {% endif %}
                        <hr>
                        <p>{{ r.message }}</p>
                        <p class="inbox-date-time">
                            <strong>Recieved: {{ r.date }} {{ r.time }}</strong>
                        </p>
                        </div>
                        {% endfor %}
                    
                    {% endif %}
                </div>
                <div class="reply-and-delete-box">
                    <div>
                        {% if inbox.send_to == user.username %}
                        <span id="delete" title="Delete message" class="delete-message"><i class="fa-solid fa-trash-can"></i></span>
                        {% endif %}
                        <a href="{% url 'reply_message' inbox.id %}" class="reply-message shadow">Reply</a>
                        <a href="{% url 'contacts' %}" class="reply-message shadow">Back to inbox</a>

                    </div>
                    
                </div>
            </div> 
            
        </div>
        <div class="col-1"></div>
    </div>
</div>

{% endblock %}

{% block postloadjs %}
    <script>
        $('#delete').click(function(){
            $('#delete').html(`<div class="del-confirm">
                    <p class="del-message">Are you sure you want to delete this message:</p> 
                    <a href="{% url "delete_message" inbox.id %}" class="delete-ok shadow">OK</a> 
                    <a href="{% url "contacts" %}" class="delete-cancel shadow">Cancel</a>
                </div>`)
        })

    </script>
{% endblock %}
