{% extends "base.html" %}
{% load static %}
{% block extra_title %}- Inbox{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <h2 class="header">Inbox</h2>
        </div>
        <div class="col-4"></div>
    </div>
    <div class="row">
        <div class="col-1">
            
        </div>
        <div class="col-10">
            
                <div class="row read-message">
                    <div class="col-3">
                        <p class="inbox-name">{{ inbox.name }}</p>
                    </div>
                    <div class="col-6">
                        {% if inbox.subject %}
                        <p class="inbox-subject">{{ inbox.subject }}</p>
                        {% else %}
                        <p class="inbox-subject">no subject</p>
                        {% endif %}
                    </div>
                    <div class="col-3">
                        
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <p class="message-display">
                                {{ inbox.message }}
                            </p>
                        </div>
                        <div class="col-4">
                            <p class="inbox-date-time main-message-date-time">
                                Recieved:
                                {{ inbox.date }} {{ inbox.time }}
                            </p>
                        </div>
                    </div>
                </div>
                
            
        </div>
        <div class="col-1"></div>
    </div>
</div>

{% endblock %}
