{% extends "base.html" %}
{% load static %}
{% block extra_title %}- Inbox{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <h2 class="header">Inbox</h2>
        </div>
        <div class="col-4"></div>
    </div>
    <div class="row">
        <div class="col-1">
            
        </div>
        <div class="col-10">
            
            <div class="read-message">
                <div class="row">
                    <div class="col-3">
                        <h4 class="inbox-name">{{ inbox.name }}</h4>
                    </div>
                    <div class="col-6">
                        {% if inbox.subject %}
                        <h5 class="inbox-subject">{{ inbox.subject }}</h5>
                        {% else %}
                        <h5 class="inbox-subject">no subject</h5>
                        {% endif %}
                    </div>
                    <div class="col-3">
                        
                    </div>
                    
                </div>
                <div class="row message-row">
                    <div class="col-8 message-display">
                        <p>
                            {{ inbox.message }}
                        </p>
                    </div>
                    <div class="col-4">
                        <p class="inbox-date-time main-message-date-time">
                            Recieved:
                            {{ inbox.date }} {{ inbox.time }}
                        </p>
                    </div>
                    <div class="delete-message">
                        <div id="delete">Delete</div>
                    </div>
                </div>
            </div> 
            
        </div>
        <div class="col-1"></div>
    </div>
</div>

{% endblock %}

{% block postloadjs %}
    <script>
        $('#delete').click(function(){
            $('#delete').html('Are you sure you want todelete this message: <a href="{% url "delete_message" inbox.id %}">Yes</a> <a href="{% url "contacts" %}">No</a>')
        })

    </script>
{% endblock %}
