{% extends "base.html" %}
{% load static %}
{% block extra_title %}- Sent Messages{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <h2 class="header">Sent Messages</h2>
        </div>
        <div class="col-4"></div>
    </div>
    
    <div class="inbox-header">
        <a href="{% url 'compose_message' %}" class="compose shadow">Compose message <i class="fa-solid fa-pen-fancy"></i></a>
    </div>
    <div class="inbox-header">
        <a href="{% url 'contacts' %}" class="sent-messages shadow">Back to inbox </a>
    </div>
    {% for i in inbox %}
    <div class="row">
        <div class="col-3">
        </div>
        {% if i.name == user.username %}
        <div class="col-8">
            <div class="message-display">
                <div class="row message-container opened-message shadow">
                    <a href="{% url 'open_message' i.id %}">
                        <div class="col-3">
                            <p class="inbox-name new-message">{{ i.send_to }}
                            {% if i.has_reply == True %}
                            {% endif %}
                            </p>
                        </div>
                    </a>
                    <div class="col-6">
                        <a href="{% url 'open_message' i.id %}">
                            {% if i.subject %}
                            <p class="inbox-subject new-message">{{ i.subject }}</p>
                            {% else %}
                            <p class="inbox-subject new-message">no subject</p>
                            {% endif %}
                        </a>
                    </div>
                    <div class="col-3">
                        <a href="{% url 'open_message' i.id %}">
                            <p class="inbox-date-time new-message">{{ i.date }} {{ i.time }}</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        
       
        <div class="col-1"></div>
    </div>
    {% endfor %}
</div>

{% endblock %}
