<div class="col-md-6 d-md-block d-lg-none">
    <div class="mobile-nav-toggle"><i class="fa-solid fa-bars"></i></div>
    <div class="mobile-nav-toggle-close"><i class="fa-solid fa-bars"></i></div>
    <div class="mobile-nav-container shadow">
        {% if request.user.is_authenticated %}
        <p class="d-block d-md-none">
            <a href="{% url 'contacts' %}">
                <i class="fa-regular fa-envelope-open"></i>
                Inbox ({{ unread_messages }})
                {% if reply_num >= 1 %} <span class="new-reply shadow">New Replies ({{ reply_num }})</span>{% endif %}
            </a>
        </p>
        {% else %}
        <p class="d-block d-md-none" id="no-user-message" onclick="noUser()">
            <i class="fa-regular fa-envelope-open"></i>
            Send a message
        </p>
        {% endif %}
        {% if total_reply >= 1 %}
            <div class="new-reply-load-box">
                <div class="reply-box-close"><i class="fa-solid fa-xmark"></i></div>
                <h4>New replies ({{ total_reply }})</h4>
                {% for i in inbox %}
                {% if i.new_reply %}
                <a href="{% url 'open_message' i.id %}">
                  <div class="new-reply-load">
                    <span class="new-reply-name">{{ i.name }}</span>
                    <span class="new-reply-subject">{{ i.subject }}</span>
                  </div>
                </a>
                {% endif %}
                {% endfor %}
            </div>
        {% endif %}
        <p>
            <a href="{% url 'portfolio' %}">{% block custom_style %}<i class="fa-solid fa-briefcase"></i> Portfolio{% endblock %}</a>
        </p>
        <p>
            <a href="https://www.linkedin.com/in/elliot-hammond-286739298/" target="_blank"><i class="fa-brands fa-linkedin"></i> LinkedIn</a>
        </p>
        <p>
            <a href="https://github.com/e-h-dev" target="_blank"><i class="fa-brands fa-github"></i> GitHub</a>
        </p>
        <p>
            <a href="/media/CV.pdf" target="_blank"><i class="fa-solid fa-download"></i> Download CV</a>
        </p>
    </div>
</div>