{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block meta %}
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% endblock %}

    {% block corecss %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}
    <title>Document {% block extra_title %}{% endblock %}</title>
</head>
<body>
    <div class="opaque"></div>
    <header>
        <nav>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-3">
                        <a href="{% url 'home' %}">
                            <div class="logo shadow"></div>
                        </a>
                    </div>
                    <div class="col-md-3">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="dropdown">
                                    <div class="dropbtn">
                                        <div class="icon"><i class="fa-solid fa-user"></i></div>
                                        {% if request.user.is_authenticated %}
                                            Hello {{ user.username|capfirst }}
                                        {% else %}
                                            Login/Register
                                        {% endif %}
                                        {% if request.user.is_authenticated %}
                                        <div class="dropdown-content">
                                            <a href="{% url 'account_logout' %}">Logout</a>
                                        </div>
                                        {% else %}
                                            <div class="dropdown-content">
                                                <a href="{% url 'account_login' %}">Login</a>
                                                <a href="#">Register</a>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                {% if message %}
                                    <div class="if-message">
                                        <div class="inbox-number"><strong>5</strong></div>
                                        <div class="icon if-message"><i class="fa-regular fa-message"></i></div>
                                        Inbox
                                    </div>
                                {% else %}
                                    <div class="message-box">
                                        <div class="icon"><i class="fa-regular fa-message"></i></div>
                                        Inbox
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="pic-text-box shadow">
                            <h2><strong>Eli Hammond</strong> Fullstack Web Developer</h2>
                        </div>
                    </div>
                </div>
                <div class="row bottom-header">
                    <div class="col-md-7"></div>
                    <div class="col-md-5 d-none d-lg-block">
                        <ul>
                            <li>
                                <a href="#"><i class="fa-solid fa-briefcase"></i> Portfolio</a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/in/elliot-hammond-286739298/" target="_blank"><i class="fa-brands fa-linkedin"></i> LinkedIn</a>
                            </li>
                            <li>
                                <a href="https://github.com/e-h-dev" target="_blank"><i class="fa-brands fa-github"></i> GitHub</a>
                            </li>
                            <li>
                                <a href=""><i class="fa-solid fa-download"></i> Download CV</a>
                            </li>
                        </ul>
                    </div>
                    
                </div>
            </div>
        </nav>
    </header>
    {% block content %}
    {% endblock %}
</body>
</html>