{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block meta %}
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% endblock %}

    {% block corecss %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer">
        <link rel="icon" href="https://e-hammond.s3.eu-north-1.amazonaws.com/media/favicon.ico">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
        <!-- <link rel="stylesheet" href="{% static 'css/base.css' %}"> -->
         <link rel="stylesheet" href="https://raw.githubusercontent.com/e-h-dev/e_hammond/refs/heads/main/static/css/base.css">
    {% endblock %}

    {% block corejs %}
            <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        {% endblock %}
    <title>E-Hammond {% block extra_title %}{% endblock %}</title>
</head>
<body>
    <div class="opaque"></div>
    {% block can_remove %}
   {% if not request.user.is_authenticated %}
   <div id="load-login-message">
        <div class="login-on-load shadow">
            <div class="close-message">
                <i class="fa-solid fa-xmark"></i>
            </div>
            <div class="shadow mini-logo">
                <div class="logo-logo"></div>
                <h5>Eli Hammond</h5>
                <h6>Fullstack Developer</h6>
            </div>
            Why not login or register for an account!
            <a href="{% url 'sign_in' %}">
                <div class="mini-login load-btn">
                    Login
                </div>
            </a>
            <a href="{% url 'sign_up' %}">
                <div class="mini-login load-btn">
                    Register
                </div>
            </a>
        </div>
   </div>
   {% endif %}
   {% endblock %}

    <header>
        <nav>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-3">
                        <a href="{% url 'home' %}">
                            <div class="logo shadow">
                                <div class="logo-logo"></div>
                                <!-- <div class="logo-opaque"></div> -->
                                <h5>Eli Hammond</h5>
                                <h6>Fullstack Developer</h6>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="dropdown">
                                    <div class="dropbtn">
                                        <div class="icon"><i class="fa-solid fa-user"></i></div>
                                        {% if request.user.is_authenticated %}
                                            <div class="hello">
                                                <span class="d-none d-md-block">Hello</span> {{ user.username|capfirst }}
                                            </div>
                                        {% else %}
                                            Login/Register
                                        {% endif %}
                                        {% if request.user.is_authenticated %}
                                        <div class="dropdown-content">
                                            <a href="{% url 'sign_out' %}">Logout</a>
                                        </div>
                                        {% else %}
                                            <div class="dropdown-content">
                                                <a href="{% url 'sign_in' %}">Login</a>
                                                <a href="{% url 'sign_up' %}">Register</a>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 d-none d-md-block">
                                {% if request.user.is_authenticated %}
                                    <div class="message-box">
                                        <a href="{% url 'contacts' %}">
                                            <div class="icon"><i class="fa-regular fa-envelope-open"></i></div>
                                            Inbox ({{ unread_messages }})
                                            {% if total_reply >= 1 %} <p class="new-reply ml-3 shadow">New Replies ({{ total_reply }})</p>{% endif %}
                                        </a>
                                    </div>
                                {% else %}
                                    <div class="message-box">
                                        <!-- <div id="no-user-message" onclick="noUser()"> -->
                                        <div id="no-user-message">
                                            <div class="icon"><i class="fa-regular fa-envelope-open"></i></div>
                                            <a href="{% url 'compose_message' %}">
                                                Send a message
                                            </a>
                                        </div>
                                        <!-- <div id="no-user-message-2" class="shadow" onmouseleave="noUserClose()">
                                            <p>You must be logged in to view messages</p>
                                            <a href="{% url 'sign_in' %}" class="mini-login">Login</a>
                                        </div> -->

                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-3">
                        {% include 'includes/mobile_nav.html' %}
                    </div>
                    
                </div>
                <div class="row bottom-header">
                    <div class="col-md-6"></div>
                    <div class="col-md-6 d-none d-lg-block">
                        <ul>
                            <li>
                                <a href="{% url 'portfolio' %}">{% block custom_style %}<i class="fa-solid fa-briefcase"></i> Portfolio{% endblock %}</a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/in/elliot-hammond-286739298/" target="_blank"><i class="fa-brands fa-linkedin"></i> LinkedIn</a>
                            </li>
                            <li>
                                <a href="https://github.com/e-h-dev" target="_blank"><i class="fa-brands fa-github"></i> GitHub</a>
                            </li>
                            <li>
                                <a href="https://e-hammond.s3.eu-north-1.amazonaws.com/media/CV.pdf" target="_blank"><i class="fa-solid fa-download"></i> Download CV</a>
                            </li>
                        </ul>
                    </div>
                    
                </div>
            </div>
        </nav>
    </header>
    {% if messages%}
    <div>
        {% for message in messages %}
            {% with message.level as level %}
                {% if level == 40 %}
                    {% include 'includes/toasts/toast_error.html' %}
                {% elif level == 30 %}
                    {% include 'includes/toasts/toast_warning.html' %}
                {% elif level == 25 %}
                    {% include 'includes/toasts/toast_success.html' %}
                {% else %}
                    {% include 'includes/toasts/toast_info.html' %}
                {% endif %}   
            {% endwith %}
        {% endfor %}    
    </div>
    {% endif %}

    {% block content %}
    {% endblock %}

    {% block postloadjs %}
    <script>
        function onLoad(){
            setTimeout(onLoadLoginRequest, 10000);
            function onLoadLoginRequest(){
            document.getElementById('load-login-message').style.display = 'block'
            }
        }

        document.addEventListener("DOMContentLoaded", onLoad);

        $('.close-message').click(function(){
            $('#load-login-message').css('display', 'none')
        });

        $('.close-toast').click(function(){
            $('.messages').css('display', 'none')
        });



        function noUser(){
            document.getElementById('no-user-message-2').style.display = 'block';
        };

        function noUserClose(){
            document.getElementById('no-user-message-2').style.display = 'none';
        }


        $('.mobile-nav-toggle').click(function(){
            $('.mobile-nav-container').css('display', 'block')
            $('.mobile-nav-toggle').css('display', 'none')
            $('.mobile-nav-toggle-close').css('display', 'block')
        });

        $('.mobile-nav-toggle-close').click(function(){
            $('.mobile-nav-container').css('display', 'none')
            $('.mobile-nav-toggle').css('display', 'block')
            $('.mobile-nav-toggle-close').css('display', 'none')
        });

    </script>
    {% endblock %}
</body>
</html>